{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Fragebogen
{% endblock %}

{% block content %}

<p> Vielen Dank für deine Teilnahme an dieser Umfrage. </p>
<p> Bitte gib an, ob du den folgenden Aussagen zustimmst oder nicht. </p>
<p> Die Daten sind selbstverständlich anonymisiert und können nicht mit deiner Person in Verbindung gebracht werden.</p>

	<p> {% formfield player.frauen %} </p>

	<p> {% formfield player.atom %} </p>

	<p> {% formfield player.grundek %} </p>

	<p> {% formfield player.impfen %} </p>

	<p> {% formfield player.video %} </p>

	<p> {% formfield player.ruestung %} </p>

	<p> {% formfield player.tempo %} </p>

	<p> {% formfield player.aktivesh %} </p>

    {% next_button %}

{% endblock %}
