{% load otree static %}

<div class="card bg-light">
    <div class="card-body">

<p style="text-align: center;"><strong>What happens in Part II</strong></p>
	<p> In each group, there will be two persons: One Person A and One Person B. </p>
    <p> Person A is endowed with {{ Constants.endowment }}.</p>
    <p> Person A can send some or all of his {{ Constants.endowment }} to Person B.
        Before B receives this amount it will be tripled.</p>
    <p> Once B receives the tripled amount s/he can decide to send some or all of it back to Person A.</p>
    </div>
</div>