{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}
    Person B
{% endblock %}

{% block content %}

    <p>
        Nun nehmen Sie die Rolle von Person B ein. Der Ihnen zugeordnete Teilnehmer hat Ihnen {{player.sent_by_other}} als Person A gesendet. Somit erhalten Sie {{tripled_amount}}.
    </p>

    {% formfield player.sent_back_amount_players label="Wie viel wollen Sie davon zurückschicken?" %}

    {% include 'trust_game/Instructions.html' %}

    <div align="right">{% next_button %}</div>


{% endblock %}