{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Part I
{% endblock %}

{% block content %}

<p> You will now start with Part I of the experiment </p>
<p> Please indicate for the following 5 statements whether you agree or disagree. </p>

	<p> {% formfield player.question_1 %} </p>

	<p> {% formfield player.question_2 %} </p>

	<p> {% formfield player.question_3 %} </p>

	<p> {% formfield player.question_4 %} </p>

	<p> {% formfield player.question_5 %} </p>

    {% next_button %}

{% endblock %}
