{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

    <p><strong>Dear Participant,</strong></p>
    <p>Thank you very much for participating in this experiment. Please read the following instructions carefully.</p>
<p><strong>General rules: </strong></p>
<ul>
<li>This experiment takes approximately 15 minutes. Please remain seated during the entire time.</li>
<li>Please be quiet during the experiment and don&rsquo;t talk to other participants.</li>
</ul>

<p><strong>Procedures and Payoff: </strong></p>
<ul>
<li>This experiment consists of two parts.&nbsp;</li>
<li>You have the opportunity to earn points in the experiment. How much points you earn depends on your own decisions as well as the decisions of the other participants.</li>
<li>All payments are displayed in points in the experiment and will be converted into Euro as follows: NOCH AUSFUELLEN</li>
<li>You receive your payoff as soon as all participants finished the experiment. At the end of the experiment, each participant will be called one by one and receive his/her personal payment in private.</li>
<li>In case that you have any question during the experiment, please raise your hand. The experimenter will attend your question in private.</li>
</ul>

    <div align="right">{% next_button %}</div>

{% endblock %}
