{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Teil 2
{% endblock %}

{% block content %}

	<p> Sie beginnen nun mit Teil 2 des Experiments.</p>
	<p> Für diesen Teil des Experiments wurde Ihnen zufällig ein anderer Teilnehmer in diesem Raum zugeordnet.</p>

    {% include 'trust_game/Instructions.html' %} <br>

<p>Der zweite Teil des Experiments wird wie folgt ablaufen:</p>
<ol>
<li>Auf der nächsten Seite werden Sie erfahren inwieweit Sie mit dem Ihnen zugeordenten Teilnehmer in den Fragen aus Teil 1 übereingestimmt haben.</li>
<li>Sie beide werden zunächst eine Entscheidung als Person A treffen.</li>
<li>Als nächstes werden Sie über den Betrag informiert, den der andere Teilnehmer Ihnen als Person A geschickt hat.</li>
<li>Dann nehmen Sie beide die Rolle von Person B an und entscheiden wie viel Sie in dieser Rolle an Person A zurückschicken würden.</li>
<li>Am Ende des Experiments wird der Computer zufällig und mit gleicher Wahrscheinlichkeit bestimmen, welche Rolle für Sie auszahlungsrelevant wird.</li>
</ol>

    <div align="right">{% next_button %}</div>


{% endblock %}
