{% load otree static %}

<div class="card bg-light">
    <div class="card-body">

<p style="text-align: center;"><strong>Was in Teil 2 passiert</strong></p>
	<p> Jede Gruppe enthält zwei Personen: Eine Person A und eine Person B. </p>
    <p> Person A besitzt {{ Constants.endowment }}.</p>
    <p> Person A kann entscheiden wie viel Sie von den {{ Constants.endowment }} an Person B schicken möchte.
        Die Punkte, die sie an Person B schickt werden verdreifacht.</p>
    <p> Sobald Person B die verdreifachten Punkte erhalten hat, kann sie entscheiden wie viel sie davon an Person A zurückschicken möchte.</p>
    </div>
</div>