{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}
    Person A
{% endblock %}

{% block content %}

    <p>
    Sie nehmen nun die Rolle von Person A ein. Sie besitzen {{Constants.endowment}}.
    </p>

    <p>
    <strong>Sie und der andere Teilnehmer haben in {{ group.score }} der 4 Fragen aus Teil 1 übereingestimmt.</strong>
    </p>

    {% formfield player.sent_amount_players label="Wie viel wollen Sie an Spieler B senden?" %}

    {% include 'trust_game/Instructions.html' %}

    <div align="right">{% next_button %}</div>


{% endblock %}