{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Teil I
{% endblock %}

{% block content %}

<p> Sie beginnen nun mit Teil 1 des Experiments. </p>
<p> Bitte geben Sie für die folgenden Aussagen an, ob Sie zustimmen oder nicht.</p>

	<p> {% formfield player.question_1 %} </p>

	<p> {% formfield player.question_2 %} </p>

	<p> {% formfield player.question_3 %} </p>

	<p> {% formfield player.question_4 %} </p>

    <div align="right">{% next_button %}</div>

{% endblock %}
