{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Herzlich Willkommen
{% endblock %}

{% block content %}

    <p><strong>Liebe Studienteilnehmerin, </strong><br /> <strong>Lieber Studienteilnehmer,</strong></p>
    <p>Vielen Dank für Ihre Teilnahme an diesem Experiment. Bitte lesen Sie die folgenden Instruktionen sorgfältig durch.</p>
<p><strong>Allgemeine Regeln: </strong></p>
<ul>
<li>Die heutige Sitzung wird ungefähr 45 Minuten dauern. Bitte bleiben Sie während dieser Zeit an Ihrem Platz sitzen.</li>
<li>Verhalten Sie sich während der gesamten Sitzung ruhig und kommunizieren Sie nicht mit anderen Teilnehmern.</li>
</ul>

<p><strong>Ablauf und Auszahlung: </strong></p>
<ul>
<li>Sie werden heute <strong>drei unabhängige Experimente</strong> durchlaufen.&nbsp;</li>
<li>Sie haben die Möglichkeit während dieser Experimente Punkte zu verdienen. Wie viele Punkte Sie verdienen werden hängt von Ihren eigenen Entscheidungen sowie den Entscheidungen anderer Teilnehmer in diesem Raum ab.</li>
    {% if player.payment == "money" %}
<li>Alle Auszahlungen in diesem Experiment sind in Punkten angegeben und werden wie folgt in Euro umgerechnet: 1 Punkt = {{player.exchange_rate}} Euro</li>
	{% elif player.payment == "sweets" %}
<li>Alle Auszahlungen in diesem Experiment sind in Punkten angegeben und werden wie folgt in Schokobons umgerechnet: {{player.exchange_rate_sweets }} Punkte = 1 Schokobon.</li>
	{% endif %}

<li>Sie erhalten Ihre Auszahlung sobald alle Teilnehmer alle Experimente beendet haben. Sie werden dann anhand Ihrer Sitzplatznummer zur Auszahlung nach vorne gerufen und erhalten dort Ihre Auszahlung.</li>
<li>Sollten Sie während der Experimente Fragen haben, heben Sie bitte leise die Hand und warten Sie bis ein Experimenator zu Ihrem Platz kommt um Ihnen die Frage zu beantworten.</li>
</ul>

    <div align="right">{% next_button %}</div>

{% endblock %}
